h1{
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 29px;
}

p{
  font-size: 10px;
  font-weight: 200;
  color: #606060;
  letter-spacing: 0px;
  line-height: 0px;
}

body{
  font-family: Verdana;
  font-size: 11px;
  margin: 0;
  padding: 0;
  letter-spacing: 0px;
}

a {
  text-decoration: none;
  color: #554FF7;
}

.column1{
  display: flex;
  vertical-align: middle;
}



.textbox{
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
  padding: 0;
  margin: 0;
}

.form{
  background-color: #ffffff;
  width: 300px;
  padding: 48px 60px 36px 60px;
  margin: 100px auto;
  border: none;

}

.field{
  width: 100%;
  margin: 16px 0;
}

.fields{
  width: 100%;
  padding: 0;
  margin: 30px 0 0 0;
}



}

label{
  margin: 0;
  padding: 0;
  letter-spacing: 0px;
}

input[type=text]{
  box-sizing: border-box;
  width: 100%;
  padding: 16px 12px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid #9b9b9b;
  letter-spacing: 0px;

}

input[type=text]:focus{
outline-color: #554FF7;
background-color: #f9f9f9;

}
input[type=password]:focus{
  outline-color: #554FF7;
  background-color: #f9f9f9;
}

input[type=password]{
  box-sizing: border-box;
  width: 100%;
  padding: 16px 12px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid #9b9b9b;
  letter-spacing: 0px;

}



input[type=checkbox]{
  vertical-align: bottom;
  position: relative;
  width: 16px;
  padding: 0px 0px;
  margin: auto 4px auto 0;
  box-sizing: border-box;
}

input[type=submit]{
  font-family: Verdana;
  box-shadow: 0px 10px 20px #CCCCFF;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: #554FF7;
  color: white;
  width: 100%;
  padding: 20px;
  margin-top: 12px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
}

input[type=submit]:hover{
  background-color: #6660F7;
}

input[type=submit]:focus{
  background-color: #6660F7;
  outline: none;
}


button{
  font-family: Verdana;
  box-shadow: 0px 10px 20px #CCCCFF;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: #554FF7;
  color: white;
  width: 100%;
  padding: 20px;
  margin-top: 12px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;

}
