h1{
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 29px;
  color: #111828;
}

p{
  font-size: 12px;
  font-weight: normal;
  color: #79818C;
  letter-spacing: .02rem;
  line-height: 0px;
}

body{
  font-family: Helvetica;
  font-size: 14px;
  margin: 0;
  padding: 0;
  letter-spacing: 0px;
}

a {
  text-decoration: none;
  color: #7E56DA;
}

.left-container{
  display: flex;
  font-weight: normal;
  margin-bottom: 4px;
  font-size: 12px;
  color: #3A404C;
}
.center-container{
  margin: auto;
  text-align: center;
}


.textbox{
  font-weight: normal;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}


.columns{
  display: flex;
  justify-content: space-between;
}


.column{
  height: 600px;
  width:360px;
  min-width: 280px;
  background-color: #ffffff;
  padding: 0;
  margin: auto;
  border: 1px red solid;

}

@media screen and (max-width: 700px) {
  .columns {
    flex-direction: column;
  }
  .column1{
    height: 460px;
  }

  }
}

img{
width: 20%;
}



}

.field{
  width: 100%;
  margin: 0 0 16px 0;
}

.fields{
  width: 100%;
  padding: 0;
  margin: 36px 0 0 0;
}



input[type=text]{
  box-sizing: border-box;
  box-shadow: 0px 0px 2px #e5e5e5;
  width: 100%;
  padding: 10px 12px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid #9b9b9b;
  letter-spacing: 0px;

}

input[type=text]:focus{
outline-color: #554FF7;
background-color: #f9f9f9;

}
input[type=password]:focus{
  outline-color: #554FF7;
  background-color: #f9f9f9;
}

input[type=password]{
  box-shadow: 0px 0px 2px #e5e5e5;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 12px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid #9b9b9b;
  letter-spacing: 0px;

}



input[type=checkbox]{
  vertical-align: bottom;
  position: relative;
  width: 16px;
  padding: 0px 0px;
  margin: auto 4px auto 0;
  box-sizing: border-box;
}

input[type=submit]{
  font-family: Helvetica;
  font-weight: 300;
  box-shadow: none;
  font-size: 14px;
  letter-spacing: 0.07rem;
  background-color: #7E56DA;
  color: white;
  width: 100%;
  padding: 12px;
  margin-top: 0px;
  border-radius: 8px;
  border: none;
}

input[id="google"]{
  font-family: Helvetica;
  font-weight: normal;
  box-shadow: none;
  font-size: 14px;
  letter-spacing: 0.07rem;
  background-color: white;
  color: #3A404C;
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: solid 1px #9b9b9b;
}


input[type=submit]:hover{
  background-color: #6660F7;
}

input[type=submit]:focus{
  background-color: #6660F7;
  outline: none;
}


button{
  font-family: Verdana;
  box-shadow: 0px 10px 20px #CCCCFF;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: #554FF7;
  color: white;
  width: 100%;
  padding: 20px;
  margin-top: 12px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;

}
